.image {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../../../../assets/lcs.png"), url("../../../../assets/lcs.png"), url("../../../../assets/lcs.png"), url("../../../../assets/lcs.png");
    height: 14rem;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: top, left, right, bottom;
    background-size: 7em, 7em, 7em, 7em;
    padding-top: 25%;
    padding: 5em;
    border: solid 10px white;
    
}

.footer{
    margin-top: 1rem;
}

.moldura {
    border: solid 
}