.logo {
    background:#BFEFFF;
}

.header {
    color: #BFEFFF;
    font-size: 1.5em;
}

.logado {
    color: blue;
    text-align: right;
    font: 0.5em;
    margin-top: 1em;
}



@media (max-width: 576px) {
    .header {
        color: #BFEFFF;
        font-size: 1em;
    }
}
