<div class="row home">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Club</h5>
                <h6 class="card-subtitle mb-2 text-muted">Seu clube de bilhar ou sinuca</h6>
                <p class="card-text">Inscreva aqui o clube que você estará representado no torneio</p>
                <a href="#" class="card-link">cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bar</h5>
                <h6 class="card-subtitle mb-2 text-muted">O bar que você frequenta</h6>
                <p class="card-text">Inscreva aqui o bar que você estará representando no torneio</p>
                <a href="#" class="card-link">cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Participante</h5>
                <h6 class="card-subtitle mb-2 text-muted">Inscrição de jogadores</h6>
                <p class="card-text">Inscreva-se aqui e torne-se apto a participar dos terneios</p>
                <a href="inscrito" class="card-link">cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

    </div>
</div>
