<div class="row home">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Regulamentos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Regras e regulamentos</h6>
                <p class="card-text">Aqui você tomará conhecimento das regras que deverá seguir para uma partida bem jogada.</p>
                <a href="#" class="card-link">clique para abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Data e eventos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Calendário dos torneios</h6>
                <p class="card-text">Descubra aqui os locais e datas dos próximos eventos para tormar-se um campeão.</p>
                <a href="#" class="card-link">clique para abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card cards" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Inscrições</h5>
                <h6 class="card-subtitle mb-2 text-muted">Bares, clubes e jogadores</h6>
                <p class="card-text">Cadastre o bar, clube e  faça sua inscrição para que possa participar dos eventos.</p>
                <a href="#" class="card-link">clique para abrir</a>
            </div>
        </div>
    </div>
    <div class="col-sm">

    </div>
</div>
