<div style="margin-bottom: 4rem;">
  <div id="cpfInscrito">
    <h5 class="header">COMPLETAR CADASTRO</h5>
    <form>
      <div class="form-group" [formGroup]="emailForm">
        <label for="cpf">CPF</label>


        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="cpf" aria-describedby="cpf" placeholder="Número do CPF"
              mask="000.000.000-00" [(ngModel)]="inscrito.cpf" name="cpf" (focus)='onFocusCPF()' (change)="onCPF()"
              formControlName="cpf">
            <div class="input-group-append">
              <button type="button" class="btn btn-info botao" (click)="onFindCPF(inscrito.cpf)" id="findCPF"
                matTooltip="CPF usado para a entrega do prêmio" [matTooltipPosition]="positionOptions[2]">
                validar
              </button>
            </div>
          </div>
          <span class="cfpErro" *ngIf="h.invalid  &&  h.touched">Informe um número de CPF</span>
        </div>
      </div>
    </form>
  </div>

  <div id="cpfErro" class="header" *ngIf='mostrarAvisoCPF'>
    <span class="cfpErro">CPF INVÁLIDO!</span>
  </div>

  <div *ngIf='!mostrarAvisoCPF'>
    <div id="cpfErro" class="header" *ngIf='mostrarErro && !h.invalid'>
      <span class="cfpErro">CPF NÃO LOCALIZADO!</span>
    </div>

    <div id="dadosInscrito" class="distDiv" *ngIf='mostrarDados'>


      <form>

        <div class="form-group">
          <div>
            <label for="apelido">CEP</label>
          </div>
          <div class="input-group mb-3" [formGroup]="emailForm">
            <input type="text" class="form-control" id="cep" name="cep" aria-describedby="cep" formControlName="cep"
              [(ngModel)]="inscrito.cep" placeholder="Informe o CEP de onde você mora" (focus)="onFocusCEP()"
              mask="00000-000">
            <div class="input-group-append">
              <button class="btn btn-info botao" type="button" (click)="getCEP()">buscar</button>
            </div>
          </div>
          <span class="cfpErro" *ngIf="j.invalid  &&  j.touched">CEP necessário</span>
        </div>

        <div class="form-group" [formGroup]="emailForm">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" name="bairro" aria-describedby="bairro"
            [(ngModel)]="inscrito.bairro" formControlName="bairro" disabled>
          <span class="cfpErro" *ngIf="l.invalid  &&  l.touched">Bairro necessário</span>
        </div>


        <div class="form-group" [formGroup]="emailForm">
          <label for="apelido">Nome de Jogador</label>
          <input type="text" class="form-control" id="apelido" name="apelido" aria-describedby="apelido"
            formControlName="apelido" [(ngModel)]="inscrito.apelido" placeholder="Informe seu nome de jogador">
          <span class="cfpErro" *ngIf="g.invalid  &&  g.touched">Nome de jogador necessário</span>
        </div>


        <div class="form-group" [formGroup]="emailForm">
          <label for="exampleFormControlSelect1">Tipo de Equipe</label>
          <select class="form-control" id="exampleFormControlSelect1" name="representacao"
            [(ngModel)]="inscrito.representacao" formControlName="representacao"
            (change)='onChangeRepresentacao($event)' (focus)="onFocuPlace()">
            <option value=0 selected>Selecione ...</option>
            <option value=1>BAR</option>
            <option value=2>CLUBE</option>
          </select>
          <span class="cfpErro" *ngIf="i.invalid  &&  i.touched">Selecione uma opção</span>
        </div>

        <div *ngIf="mostrarCEP">
          <label for="nome">CEP</label>
        </div>

        <div *ngIf="mostrarCEP">
          <div class="form-group" [formGroup]="emailForm">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="cep" name="cep" aria-describedby="cep"
                placeholder="Informe o CEP do local" [(ngModel)]="local.CEP" mask="00000-000" (focus)="onFocuPlace()" formControlName="cepequipe">
              <div class="input-group-append">
                <button class="btn btn-info botao" type="button" (click)="filterPlace(local)">buscar</button>
              </div>
            </div>
            <span class="cfpErro" *ngIf="k.invalid  &&  k.touched">CEP necessário</span>
          </div>


          <div *ngIf="locais.length > 0">

           

            <ul>
              <li *ngFor="let l of locais" [value]="l.NomeEquipe">{{l.NomeEquipe}}</li>
            </ul>

            <div class="row" style="margin-top: 2em; margin-bottom: 2em;">
              <div class="col-sm">
                <button type="button" class="btn btn-link btn-lg btn-block" style="font-size: 1em;" (click)="shosEquipe(true)">escolher um dessas equipes</button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-link btn-lg btn-block" style="font-size: 1em;" (click)="shosEquipe(false)">cadastrar uma nova equipe</button>
              </div>
            </div>

            <div class="form-group" *ngIf="mostrarOpcoes">
              <label for="equipenome">Selecione um Local</label>
              <select class="form-control" id="equipenome" name="equipenome" [(ngModel)]="local.NomeEquipe">
                <option *ngFor="let l of locais" [value]="l.NomeEquipe">{{l.NomeEquipe}}</option>
              </select>
            </div>
          </div>


          <div class="form-group" *ngIf="mostrarCadastrar && !mostrarOpcoes">
            <label for="nomeNovo">Nome do Estabelecimento</label>
            <input type="text" class="form-control" placeholder="Informe o nome do bar ou clube" name="nomeNovo"
              [(ngModel)]="local.NomeEquipe" (change)="onChangeNomeEquipe()">
          </div>

        </div>

        <button type="button" class="btn btn-info btn-lg btn-block" (click)="fillTest(inscrito)" id="gerarCodigo"
          style="margin-top: 2em;">Efetuar Cadastro</button>
      </form>
    </div>
  </div>

</div>